#bubbles svg {
  /* Fit the SVG + Avoid that the SVG gets under the navigation */
  max-height: calc(100vh - (20px + 32px));  /* Pixels are bad, but the fullpage navigation is declared in pixels :( */
  max-width: calc(100vw - (15px + 34px + 5px)); /* It *kinda* works. I don't really get it. */

  /* Center the SVG */
  display: block;
  margin: auto;
}

#bubbles-tooltip {
  /* Fade-in preparation */
  opacity: 0;
  transition: opacity 1s;

  /* Place the tooltip on top of the window */
  position: absolute;
  top: 1vh;
  right: 50vw;
  transform: translateX(50%);

  background: #E9C100;
  border-radius: 3px;

  display: flex;
  flex-direction: row;

  font-family: Helvetica;
}

#bubbles-tooltip img {
  max-height: 40vh;
  max-width: 10vw;

  border-radius: 3px;

  vertical-align: bottom;  /* fix annoying 4px (https://stackoverflow.com/a/46891256) */
}

#bubbles-tooltip .details {
  margin: 1vw;

  min-width: 30vw;
  max-width: 70vw;

  text-align: justify;
}

#bubbles-tooltip .title {
  font-weight: bold;
  font-size: 2rem;
}

#bubbles-tooltip .x {
  font-size: 2rem;
  margin-left: 1vw;
}

#bubbles-tooltip .details .topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bubbles-loading {
  position: absolute;
  top: 50vh;
  right: 50vw;
  transform: translate(50%, -50%);

  background: #E9C100;
  border-radius: 3px;

  font-size: 3rem;
}
