.philippe-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.philippe-centered img {
  max-height: 20vw;
  height: auto;
  display: block;
}​

.philippe-name {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position:relative;
  bottom:150px;
  left:150px;
}

 .philippe-name span {
  font-size: 3rem;
  justify-content: center;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  display: flex;
}

.philippe-buttons {
  flex: 0.05 0 100px;
  text-align: center;
  padding-top: 20px;
}

.philippe-buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 15%;
}
