.philippe-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.philippe-centered img {
  display: block;
  max-height: 35vh;
  height: auto;
}​

.philippe-bigger img {
  max-height: 40vh;
  height: auto;
}

.philippe-name {
  width: auto;
  height: auto;
  max-height: 3vh;
}

 .philippe-name {
  font-size: 3vh;
  justify-content: center;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  display: flex;
  margin-top: -1%;
  transform: translate(-3.5%, 0%);
  /*margin-bottom: 3%;*/
}

.philippe-bulle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: -3%;
  margin-top: 1%;
  position: relative;
}

.philippe-bulle img {
  max-height: 40vh;
  height: auto;
  margin-right: -3%;
}

.dialog-top-mid-position {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- Cat speech button styling ---------- */

.speech-button{
  position: relative;
  background-color: #E9C100;
  border-radius: 4em;
  font-size: 2vh;
  color: black;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  transform: translate(10%, 100%);
}

.speech-button:hover {
  transition-duration: 0.1s;
  background-color: #E9C100;
}

.speech-button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px #E9C100;
}

.speech-button:active:after {
  box-shadow: 0 0 0 0 #E9C100;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.speech-button:active {
  top: 1px;
}
