.philippe-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.philippe-centered img {
  max-height: 20vw;
  height: auto;
  display: block;
}​

.philippe-name {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position:relative;
  bottom:150px;
  left:150px;
}

 .philippe-name span {
  font-size: 3vw;
  justify-content: center;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  display: flex;
  margin-top: -1%;
  /*margin-bottom: 3%;*/
}

.philippe-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: -3%;
  margin-top: 1%;
  position: relative;
}

.philippe-bulle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: -3%;
  margin-top: 1%;
  position: relative;
}

.philippe-bulle img {
  max-height: 25vw;
  height: auto;
  margin-right: -3%;
}

.philippe-bulle-text {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-43%, -50%);
}
