
/* ------------ Texts ------------- */
.huge {
  font-size: 10rem;
  text-align: center;
  font-family: "Abril Fatface";
}

.medium {
  font-size: 5rem;
  text-align: center;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

.small {
  font-size: 2rem;
  text-align: center;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

.fancy-text {
  font-family: 'Sacramento', cursive;
}

.bubble_graph_text {
  text-anchor: middle;
  font-size: 0.75rem;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

/* ------------ Colors ------------- */
.white {
  color: white;
}

/* ------------ Images ------------- */

.flex_img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* ------------ Coin WIP ------------- */

.coins-slide-container {
  position: relative;
  display: flex;
}

.coins-widget {
  /*position: absolute;*/
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.coins-widget img {
  max-height: 25vw;
}

.ghost-coin {
  opacity: 0;
}

.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 1000s, opacity 1000ms;
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 800ms, opacity 800ms;
}

/* ------------ Fullpage fixes ------------- */

/* Move the right arrow from the navigation */
.fp-next {
  right: 55px;
}

/* Center the slides navigation */
.fp-slidesNav {
  text-align: center;
}

.fp-slidesNav ul {
  display: inline-block;
}

/* Make the navigation white like the rest */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: white;
}
