
/* ------------ Texts ------------- */
.huge {
  font-size: 10rem;
  text-align: center;
  font-family: "Abril Fatface";
}

.medium {
  font-size: 4vw;
  text-align: center;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

.small {
  font-size: 2rem;
  text-align: center;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

.fancy-text {
  font-family: 'Sacramento', cursive;
}

.bubble_graph_text {
  text-anchor: middle;
  font-size: 0.75rem;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

/* ------------ Colors ------------- */
.white {
  color: white;
}

/* ------------ Images ------------- */

.flex_img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* ------------ Fade-in / Fade-out ------------- */

.ghost-elem {
  opacity: 0;
}

.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 1000s, opacity 1000ms;
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 800ms, opacity 800ms;
}

/* ------------ Grid layout ------------- */

.topcell { grid-area: top; }
.leftcell { grid-area: left; }
.centercell { grid-area: center; }
.rightcell { grid-area: right; }
.bottomcell { grid-area: bot; }

.grid-container {
  display: grid;
  grid-template-areas:
    'top top top top top top top top'
    'left left center center center center right right'
    'left left center center center center right right'
    'left left center center center center right right'
    'bot bot bot bot bot bot bot bot';
  gap: 10px;
  padding: 10px;
  width: 100vw;
  height: 100vh;
}

.grid-container > div {
  position: relative;
}

/* ------------ Fullpage fixes ------------- */

/* Move the right arrow from the navigation */
.fp-next {
  right: 55px;
}

/* Center the slides navigation */
.fp-slidesNav {
  text-align: center;
}

.fp-slidesNav ul {
  display: inline-block;
}

/* Make the navigation white like the rest */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: white;
}


/* ------------ Coin widget layouts ------------- */

.coin-stack {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.coins-widget {
  max-height: 3vh;
}

.face-coin-widget {
  max-height: 15vh;
  position: absolute;
  top: 45%;
  left: 47%;
}
