.huge {
  font-size: 10rem;
  text-align: center;
  font-family: "Abril Fatface";
}

.white {
  color: white;
}

.medium {
  font-size: 5rem;
  text-align: center;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

.small {
  font-size: 2rem;
  text-align: center;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

.bubble_graph_text {
  text-anchor: middle;
  font-size: 0.75rem;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

/* Fullpage fixes */

/* Move the right arrow from the navigation */
.fp-next {
  right: 55px;
}

/* Center the slides navigation */
.fp-slidesNav {
  text-align: center;
}

.fp-slidesNav ul {
  display: inline-block;
}

/* Make the navigation white like the rest */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: white;
}
