
/* ------------ Texts ------------- */
.huge {
  font-size: 10rem;
  text-align: center;
  font-family: "Abril Fatface";
}

.medium {
  font-size: 5rem;
  text-align: center;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

.small {
  font-size: 2rem;
  text-align: center;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

.main_title {
  font-size: 12rem;  
}

.fancy_text {
  text-align: center;
  font-family: 'Sacramento', cursive;
}

/* ------------ Colors ------------- */
.white {
  color: white;
}

.bubble_graph_text {
  text-anchor: middle;
  font-size: 0.75rem;
  font-family: "Aktiv Grotesk", Helvetica, sans-serif;
}

.background_img {
  background: url("../../img/opening_page_background_cropped.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Fullpage fixes */

/* Move the right arrow from the navigation */
.fp-next {
  right: 55px;
}

/* Center the slides navigation */
.fp-slidesNav {
  text-align: center;
}

.fp-slidesNav ul {
  display: inline-block;
}

/* Make the navigation white like the rest */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: white;
}
